.hero-info {
  float: left;
  width: 100%;
  color: $text_light;
  background-color: $royal_purple;

  .left-panel {
    float: left;
    width: 40%;
  }

  .right-panel {
    float: left;
    width: 60%;
  }

  .wrapper {
    padding: 5px;
  }

  img {
    display: block;
  }
}

.status {
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  color: $text_dark;

  &.pending {
    background-color: lightblue;
  }

  &.whitelisted {
    background-color: $good;
  }

  &.blacklisted {
    background-color: $bad;
  }
}

.progress-container {
  margin-left: 4px;
  margin-bottom: .5em;
  transition-duration: 0.15s;
  transition-property: border-color, box-shadow, color;
  transition-timing-function: ease-in;

  .progress {
    display: inline-block;
    vertical-align: bottom;
    min-width: 100px;
    margin: 0px;
    border-radius: 2px;
    height: 12px;
    background-color: $progress_bar_back;
    overflow: hidden;

    .progress-bar {
      border-radius: 2px;
      height: 12px;
      min-width: 0px;
      transition: width .6s ease;
      color: $text_light;

      &.bg-health {
        background-color: $progress_bar_health_front;
      }
  
      &.bg-experience {
        background-color: $progress_bar_experience_front;
      }
  
      &.bg-mana {
        background-color: $progress_bar_mana_front;
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
    line-height: 1;
    font-size: 12px;
    color: $text_accent;
  }

  .svg-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    padding-top: 6px;
    display: inline-block;
    vertical-align: bottom;
  }
}

.gold-container {
  .svg-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    padding-top: 6px;
    display: inline-block;
    vertical-align: bottom;
  }

  span {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
    line-height: 1;
    font-size: 12px;
    color: $text_accent;
  }
}
