.user-info {
  overflow: hidden;
  padding: 1em;

  .hero-image {
    float: left;
    width: 35%;

    img {
      display: block;
    }
  }

  .hero-stats {
    margin: 0;
    float: left;
    padding: 1em 0 1em 1em;
    width: 55%;

    .meter-label {
      float: left;
      background-color: #bbb;
      font-size: .8em;
      text-shadow: -1px -1px 1px #2f3f42, 1px -1px 1px #2f3f42, -1px 1px 1px #2f3f42, 1px 1px 1px #2f3f42;
      width: 1em;
      text-align: center;
      margin-right: .6em;
      padding: .366em .6em;
      border: 1px solid #fff;
      outline: #999 solid 1px;
      line-height: 1;

      .icon {
        position: relative;
        top: 1px;
        display: inline-block;
        line-height: 1;
      }
    }

    .meter {
      position: relative;
      overflow: hidden;
      border: 1px solid #fff;
      height: 1.334em;
      outline: #999 solid 1px;
      color: #2e2200;

      &.health {
        background: #fcf0f0;
        margin-bottom: .75em;

        .bar {
          background: #da5353;
          border-color: #6f1818;
        }
      }

      &.experience {
        background: #fffbf0;

        .bar {
          background: #ffcc35;
          border-color: #8a6700;
        }
      }

      .meter-text {
        float: right;
        z-index: 5;
        white-space: nowrap;
        position: absolute;
        top: 0;
        right: .3em;
        line-height: 1.334;
      }

      .bar {
        height: 100%;
      }
    }
  }

  .other-stats {
    padding: 2.15em 0 0 0;
    margin: 0;
    list-style-position: inside;

    div {
      display: inline-block;

      &:last-of-type {
        float: right;
      }
    }

    .level {
      color: #aaa;
    }

    .gold {
      color: #946e00;
    }

    .gold-icon {
      background-image: url(https://habitica.com/static/sprites/spritesmith-main-9-6e88ce74.png);
      background-position: -1688px -1020px;
      height: 22px;
      width: 32px;
      display: inline-block;
      vertical-align: top;
    }

    .gold-value {
      line-height: 1.334;
    }
  }
}

.icon {
  color: #fff;
}
